<style>
.custom-header-rounded {
  background-color: #158467;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px 25px 50px 25px;
  text-align: center;
  margin: 40px auto 40px auto;
  display: flex;              /* فعال کردن Flexbox */
  align-items: center;        /* وسط عمودی */
  justify-content: center;    /* وسط افقی */
  width: fit-content;
  height: 70px;              /* ارتفاع بلوک */
  font-family: "Segoe UI", sans-serif;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  border: 1px solid #158467;
  padding: 0px 170px 0px 170px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .custom-header-rounded {
    font-size: 16px;
    width: 90%;
    height: 80px;
    margin: 10px auto 30px auto;
  }
}
</style>

# <div class="custom-header-rounded">Step 1 | Load Data:</div>

<h2 align="center" style="line-height:200%;font-family:arial;color:#0099cc"> <font face="arial" color="#0099cc"> Dataset Introduction </font> </h2><p style="text-align: justify; line-height:200%; font-family:arial; font-size:medium"> <font face="arial" size=3> The initial file for this question includes a folder named <code>data</code>. This folder contains two files named <code>train.csv</code> and <code>test.csv</code>, which are the training and test datasets, respectively. The training dataset for this question consists of 1913 rows and 14 columns, while the test dataset has 479 rows and lacks the <code>GPA</code> column. Descriptions of the columns are as follows: </font> </p><center> <div style="line-height:200%;font-family:arial;font-size:medium"> <font face="arial" size=3">
<b>Feature Name</b>	<b>Feature Description</b>
<code>StudentID</code>	Student ID
<code>Age</code>	Age of the individual
<code>Gender</code>	Gender, 0 for male and 1 for female
<code>Ethnicity</code>	Ethnicity of the students
<code>ParentalEducation</code>	Parental education level
<code>StudyTimeWeekly</code>	Weekly study hours (0 to 20 hours)
<code>Absences</code>	Number of absences in an academic year (0 to 30)
<code>Tutoring</code>	Tutoring status, 0 for no and 1 for yes
<code>ParentalSupport</code>	Level of parental support
<code>Extracurricular</code>	Participation in extracurricular activities, 0 for no and 1 for yes
<code>Sports</code>	Participation in sports programs, 0 for no and 1 for yes
<code>Music</code>	Participation in music programs, 0 for no and 1 for yes
<code>Volunteering</code>	Participation in volunteer programs, 0 for no and 1 for yes
<code>GPA</code>	Grade Point Average (0 to 4 scale)
</font> </div> </center><p style="text-align: justify; line-height:500%; font-family:arial; font-size:medium"> <font color="red" size=3><b color='red'>Note:</b></font> <font face="arial" size=3> Evaluation data may contain missing values (NaN). </font> </p>

<style>
/* Main Box */
.custom-section {
  background: #FADCAC; /* رنگ پس‌زمینه اصلی */
  border-radius: 12px;
  overflow: hidden;
  margin: 20px 0;
  font-family: "Segoe UI", sans-serif;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  border: 1px solid #158467; /* حاشیه با رنگ هدر */
}

/* Header Bar */
.custom-header {
  background-color: #158467; /* رنگ هدر */
  color: white;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid #065446; /* خط زیر هدر */
}

/* Content */
.custom-content {
  padding: 15px 20px;
  color: #197163; /* رنگ متن محتوا */
  line-height: 1.6;
}


/* Responsive Design */
@media (max-width: 768px) {
  .custom-header {
    font-size: 16px;
    padding: 10px;
  }
  .custom-content {
    font-size: 14px;
    padding: 10px;
  }
  .custom-code {
    font-size: 13px;
  }
}
</style>


## <div class="custom-section"><div class="custom-header">Step 1.1 | import libraries</div><div class="custom-content">numpy & pandas</div></div>

In [10]:
import pandas as pd
import numpy as np

<style>
/* Main Box */
.custom-section {
  background: #FADCAC; /* رنگ پس‌زمینه اصلی */
  border-radius: 12px;
  overflow: hidden;
  margin: 20px 0;
  font-family: "Segoe UI", sans-serif;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  border: 1px solid #158467; /* حاشیه با رنگ هدر */
}

/* Header Bar */
.custom-header {
  background-color: #158467; /* رنگ هدر */
  color: white;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid #065446; /* خط زیر هدر */
}

/* Content */
.custom-content {
  padding: 15px 20px;
  color: #197163; /* رنگ متن محتوا */
  line-height: 1.6;
}


/* Responsive Design */
@media (max-width: 768px) {
  .custom-header {
    font-size: 16px;
    padding: 10px;
  }
  .custom-content {
    font-size: 14px;
    padding: 10px;
  }
  .custom-code {
    font-size: 13px;
  }
}
</style>


## <div class="custom-section"><div class="custom-header">step 1.2 | read data</div><div class="custom-content">df = pd.read_csv("insurance.csv")</div></div>

In [11]:
# Reading/Loading the dataset files
df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")
df

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA
0,1643,18,1,Caucasian,Higher,18.118879,24,1,NaN,1,1,0,0,1.396278
1,2753,16,1,Other,Some College,2.469271,19,0,Low,0,0,0,1,0.754751
2,2402,17,0,Asian,Bachelor,3.456401,25,0,NaN,0,0,0,0,0.136166
3,3033,17,1,Caucasian,High School,15.838131,25,1,Moderate,0,0,0,0,1.172192
4,1991,16,0,Caucasian,NaN,1.045373,19,1,Moderate,0,0,1,0,1.747356
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1908,2639,15,0,African American,NaN,13.092424,13,1,Low,0,0,0,0,1.595627
1909,2096,16,0,Caucasian,Some College,2.159249,19,0,Very High,0,1,0,0,1.523945
1910,2131,16,1,Caucasian,Some College,3.572578,14,1,Moderate,1,1,0,0,2.051919
1911,2295,18,0,Other,Some College,4.402585,20,0,High,0,0,0,0,1.348997
1912,1861,18,0,African American,Some College,5.427628,27,0,Moderate,0,0,0,0,0.012063

<style>
.custom-header-rounded {
  background-color: #158467;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px 25px 50px 25px;
  text-align: center;
  margin: 40px auto 40px auto;
  display: flex;              /* فعال کردن Flexbox */
  align-items: center;        /* وسط عمودی */
  justify-content: center;    /* وسط افقی */
  width: fit-content;
  height: 70px;              /* ارتفاع بلوک */
  font-family: "Segoe UI", sans-serif;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  border: 1px solid #158467;
  padding: 0px 170px 0px 170px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .custom-header-rounded {
    font-size: 16px;
    width: 90%;
    height: 80px;
    margin: 10px auto 30px auto;
  }
}
</style>

# <div class="custom-header-rounded">Step 2 | Preprocessing:</div>

<style>
/* Main Box */
.custom-section {
  background: #FADCAC; /* رنگ پس‌زمینه اصلی */
  border-radius: 12px;
  overflow: hidden;
  margin: 20px 0;
  font-family: "Segoe UI", sans-serif;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  border: 1px solid #158467; /* حاشیه با رنگ هدر */
}

/* Header Bar */
.custom-header {
  background-color: #158467; /* رنگ هدر */
  color: white;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid #065446; /* خط زیر هدر */
}

/* Content */
.custom-content {
  padding: 15px 20px;
  color: #197163; /* رنگ متن محتوا */
  line-height: 1.6;
}


/* Responsive Design */
@media (max-width: 768px) {
  .custom-header {
    font-size: 16px;
    padding: 10px;
  }
  .custom-content {
    font-size: 14px;
    padding: 10px;
  }
  .custom-code {
    font-size: 13px;
  }
}
</style>


## <div class="custom-section"><div class="custom-header">step 2.1 = data cleaning</div><div class="custom-content">define cleaning function</div></div>

In [12]:
# Preprocessing step
def data_clean(x):
    # Fill missing values (median) for 'ParentalEducation' and 'ParentalSupport'
    x["ParentalEducation"].fillna(x["ParentalEducation"].mode()[0], inplace=True)
    x["ParentalSupport"].fillna(x["ParentalSupport"].mode()[0], inplace=True)

    # One-hot encode 'Ethnicity' and concatenate with the original DataFrame
    ethnicity_dummies = pd.get_dummies(x["Ethnicity"])
    x = pd.concat([x, ethnicity_dummies], axis=1)
    x.drop(columns="Ethnicity", axis=1, inplace=True)
    x[['African American', 'Asian' , 'Caucasian', 'Other']] = x[['African American', 'Asian' , 'Caucasian', 'Other']].astype("int64")

    # Map categorical values to numerical (using replace=True if needed)
    education_mapping = {"High School": 1, "Some College": 2, "Bachelor": 3, "Higher": 4}
    x["ParentalEducation"] = x["ParentalEducation"].map(education_mapping)

    support_mapping = {"Low": 1, "Moderate": 2, "High": 3, "Very High": 4}
    x["ParentalSupport"] = x["ParentalSupport"].map(support_mapping)

    x.dropna(inplace=True)

    return x

# Apply the function
df = data_clean(df)
test_df = data_clean(test_df)
df

C:\Users\taha\AppData\Local\Temp\ipykernel_15856\3139618607.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x["ParentalEducation"].fillna(x["ParentalEducation"].mode()[0], inplace=True)
C:\Users\taha\AppData\Local\Temp\ipykernel_15856\3139618607.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x["ParentalSupport"].fillna(x["ParentalSupport"].mode()[0], inplace=True)
C:\Users\taha\AppData\Local\Temp\ipykernel_15856\3139618607.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x["ParentalEducation"].fillna(x["ParentalEducation"].mode()[0], inplace=True)
C:\Users\taha\AppData\Local\Temp\ipykernel_15856\3139618607.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x["ParentalSupport"].fillna(x["ParentalSupport"].mode()[0], inplace=True)

,StudentID,Age,Gender,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,African American,Asian,Caucasian,Other
0,1643,18,1,4,18.118879,24,1,2,1,1,0,0,1.396278,0,0,1,0
1,2753,16,1,2,2.469271,19,0,1,0,0,0,1,0.754751,0,0,0,1
2,2402,17,0,3,3.456401,25,0,2,0,0,0,0,0.136166,0,1,0,0
3,3033,17,1,1,15.838131,25,1,2,0,0,0,0,1.172192,0,0,1,0
4,1991,16,0,2,1.045373,19,1,2,0,0,1,0,1.747356,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1908,2639,15,0,2,13.092424,13,1,1,0,0,0,0,1.595627,1,0,0,0
1909,2096,16,0,2,2.159249,19,0,4,0,1,0,0,1.523945,0,0,1,0
1910,2131,16,1,2,3.572578,14,1,2,1,1,0,0,2.051919,0,0,1,0
1911,2295,18,0,2,4.402585,20,0,3,0,0,0,0,1.348997,0,0,0,1
1912,1861,18,0,2,5.427628,27,0,2,0,0,0,0,0.012063,1,0,0,0

<style>
/* Main Box */
.custom-section {
  background: #FADCAC; /* رنگ پس‌زمینه اصلی */
  border-radius: 12px;
  overflow: hidden;
  margin: 20px 0;
  font-family: "Segoe UI", sans-serif;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  border: 1px solid #158467; /* حاشیه با رنگ هدر */
}

/* Header Bar */
.custom-header {
  background-color: #158467; /* رنگ هدر */
  color: white;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid #065446; /* خط زیر هدر */
}

/* Content */
.custom-content {
  padding: 15px 20px;
  color: #197163; /* رنگ متن محتوا */
  line-height: 1.6;
}


/* Responsive Design */
@media (max-width: 768px) {
  .custom-header {
    font-size: 16px;
    padding: 10px;
  }
  .custom-content {
    font-size: 14px;
    padding: 10px;
  }
  .custom-code {
    font-size: 13px;
  }
}
</style>


## <div class="custom-section"><div class="custom-header">Step 2.2 | split and scale data</div><div class="custom-content">train_test_split & StandardScaler</div></div>

In [13]:
from sklearn.model_selection import train_test_split
X = df.drop(columns=["StudentID", "GPA"])
y = df["GPA"]
X_test = test_df.drop(columns=['StudentID'])

X_train, X_val, y_train, y_val = train_test_split(X,y, random_state=42, test_size=0.2)

In [14]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
numerical_features = ['Age', 'StudyTimeWeekly', 'Absences']

X_train[numerical_features] = scaler.fit_transform(X_train[numerical_features])
X_val[numerical_features] = scaler.transform(X_val[numerical_features])
X_test[numerical_features] = scaler.transform(X_test[numerical_features])

<style>
.custom-header-rounded {
  background-color: #158467;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px 25px 50px 25px;
  text-align: center;
  margin: 40px auto 40px auto;
  display: flex;              /* فعال کردن Flexbox */
  align-items: center;        /* وسط عمودی */
  justify-content: center;    /* وسط افقی */
  width: fit-content;
  height: 70px;              /* ارتفاع بلوک */
  font-family: "Segoe UI", sans-serif;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  border: 1px solid #158467;
  padding: 0px 170px 0px 170px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .custom-header-rounded {
    font-size: 16px;
    width: 90%;
    height: 80px;
    margin: 10px auto 30px auto;
  }
}
</style>

# <div class="custom-header-rounded">Step 3 | Train Model:</div>

<style>
/* Main Box */
.custom-section {
  background: #FADCAC; /* رنگ پس‌زمینه اصلی */
  border-radius: 12px;
  overflow: hidden;
  margin: 20px 0;
  font-family: "Segoe UI", sans-serif;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  border: 1px solid #158467; /* حاشیه با رنگ هدر */
}

/* Header Bar */
.custom-header {
  background-color: #158467; /* رنگ هدر */
  color: white;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid #065446; /* خط زیر هدر */
}

/* Content */
.custom-content {
  padding: 15px 20px;
  color: #197163; /* رنگ متن محتوا */
  line-height: 1.6;
}


/* Responsive Design */
@media (max-width: 768px) {
  .custom-header {
    font-size: 16px;
    padding: 10px;
  }
  .custom-content {
    font-size: 14px;
    padding: 10px;
  }
  .custom-code {
    font-size: 13px;
  }
}
</style>


## <div class="custom-section"><div class="custom-header">Step 3.1 | fit model</div><div class="custom-content">model = LinearRegression()</div></div>

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score
from sklearn.svm import SVR

model = LinearRegression()


model.fit(X_train, y_train)
y_pred_train = model.predict(X_train)
y_pred_val = model.predict(X_val)

print(f"r2 for train: {r2_score(y_train, y_pred_train)}")
print(f"r2 for val: {r2_score(y_val, y_pred_val)}")

r2 for train: 0.9467465585809346
r2 for val: 0.9408349765412851

<style>
/* Main Box */
.custom-section {
  background: #FADCAC; /* رنگ پس‌زمینه اصلی */
  border-radius: 12px;
  overflow: hidden;
  margin: 20px 0;
  font-family: "Segoe UI", sans-serif;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  border: 1px solid #158467; /* حاشیه با رنگ هدر */
}

/* Header Bar */
.custom-header {
  background-color: #158467; /* رنگ هدر */
  color: white;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid #065446; /* خط زیر هدر */
}

/* Content */
.custom-content {
  padding: 15px 20px;
  color: #197163; /* رنگ متن محتوا */
  line-height: 1.6;
}


/* Responsive Design */
@media (max-width: 768px) {
  .custom-header {
    font-size: 16px;
    padding: 10px;
  }
  .custom-content {
    font-size: 14px;
    padding: 10px;
  }
  .custom-code {
    font-size: 13px;
  }
}
</style>


## <div class="custom-section"><div class="custom-header">Step 3.2 | test data</div><div class="custom-content">submission on test data</div></div>

In [16]:
# To-Do
y_test_pred = model.predict(X_test)

submission = pd.DataFrame({'GPA': y_test_pred})
submission

          GPA
0    1.423947
1    2.851371
2    1.743897
3    3.513500
4    0.207084
..        ...
474  1.768332
475  2.148447
476  2.543980
477  2.444882
478  0.801431

[479 rows x 1 columns]